.app {
    text-align: center;
    
}

.actions {
  display: flex !important;
}

.groups-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px;
}

.group-table {
  max-width: 900px;
}