.app {
    text-align: center;
    
}

.groups-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 55px;
}

.group-table {
  max-width: 900px;
}

.matches-overview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.match-list {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 900px;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: 20px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}

.group-title {
  font-size: 24px;
}