@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.header-container {
  height: 80px;
  background-color: #333;
  display: flex;
  align-items: center;
  padding: 0 55px;
  gap: 16px;
}

.header-logo {
  color: white;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: -0.5px;
}

.navbar {
  background-color: #000;
  padding: 16px 48px;
  height: 60px;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 48px;
  margin: 0;
  padding: 0;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 15px 10px;
}

.navbar a:hover {
  color: #000;
  background-color: #f4f4f4;
}

main {
  background-color: #f4f4f4;
  color: #333;
  min-height: calc(100vh - 140px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-icon {
  margin-top: 50px;
  font-size: 132px;
}

.welcome-heading {
  font-size: 32px;
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 10px;
}

.welcome-details {
  font-size: 20px;
  margin-bottom: 40px;
}

.footer {
  background-color: #333;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer p {
  color: white;
  font-size: 16px;
}

.secondary-actions-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding-right: 30px;
  padding-bottom: 30px;
}

.table-button-container {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.group-table {
  width: 1000px;
}

.group-table-error {
  margin-top: 10px;
}

.group-table-empty-cell {
  background-color: black;
}

.groups-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.match-list {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 900px;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: 20px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
}

.group-title {
  font-size: 24px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  bottom: 0;
  color: var(--foreground);
  font-size: 24px;
}
